@inherits LayoutComponentBase

<div class="page">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-NavLinkght bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <NavLink>
                    <a class="navbar-brand" href="/">Contoso University</a>
                </NavLink>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inNavLinkne-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <NavLink class="nav-item">
                            <a class="nav-link text-dark" href="/about">About</a>
                        </NavLink>
                        <NavLink class="nav-item">
                            <a class="nav-link text-dark" href="/students">Students</a>
                        </NavLink>
                        <NavLink class="nav-item">
                            <a class="nav-link text-dark" href="/Courses">Courses</a>
                        </NavLink>
                        <NavLink class="nav-item">
                            <a class="nav-link text-dark" href="/instructors">Instructors</a>
                        </NavLink>
                        <NavLink class="nav-item">
                            <a class="nav-link text-dark" href="/departments">Departments</a>
                        </NavLink>
                    </ul>
                </div>
            </div>
        </nav>

    </header>

    <main class="container">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
